@import "vars"
.home
    padding: 145px 0 20px
    position: relative
    z-index: 2
    background: url('../img/home-bg.png') no-repeat center
    background-size: cover
    overflow: hidden
    &::before
        content: ''
        position: absolute
        top: -117px
        left: 50%
        transform: translate(-50%,0)
        width: 1003px
        height: 1003px
        border-radius: 50%
        background: radial-gradient(50% 50% at 50% 50%, #3BAAFF 0%, rgba(39, 161, 255, 0) 83.65%)
        backdrop-filter: blur(200px)
        z-index: -1
        opacity: 0.4

.home-content
    // padding: 245px 0 0
    &-wrapper
        display: flex
        align-items: center
        margin: 34px 0 0
    .text-big
        max-width: 475px
        margin: 0 auto 0 0

.home-image
    @include d-flex

.about-stend
    padding: 120px 0 250px
    position: relative
    //  overflow: hidden
    z-index: 1
    &::before, &:after
        content: ''
        position: absolute
        z-index: -1
        border-radius: 50%
        opacity: 0.4
        width: 1003px
        height: 1003px
        backdrop-filter: blur(200px)
        background: radial-gradient(50% 50% at 50% 50%, #3BAAFF 0%, rgba(39, 161, 255, 0) 83.65%)
    &::before
        top: -163px
        left: -366px
    &:after
        top: -290px
        right: -414px

.about-stend-box
    display: flex
    align-items: center
    margin: 0 0 85px
    &:last-child
        margin: 0
    &__icon
        width: 90px
        min-width: 90px
        margin: 0 55px 0 0
        @include d-flex

.equipment
    position: relative
    padding: 50px 0 200px
    z-index: 1
    &::before
        content: ''
        position: absolute
        top: 0
        left: 50%
        transform: translate(-50%,0)
        width: 1003px
        height: 1003px
        border-radius: 50%
        background: radial-gradient(50% 50% at 50% 50%, #3BAAFF 0%, rgba(39, 161, 255, 0) 83.65%)
        backdrop-filter: blur(200px)
        z-index: -2
        opacity: 0.4

    h2
        margin: 0 auto 78px

.title-overlay
    width: 100%
    position: absolute
    z-index: -1
    left: 50%
    top: 0
    transform: translate(-50%,0)
    @include d-flex

.equipment-box
    position: relative
    z-index: 1
    margin: 170px 0 0
    width: fit-content
    &::before
        content: ''
        position: absolute
        z-index: -1
        left: calc(100% + 50px)
        top: 30px
    &:first-child
        margin: 50px 0 0
    &:last-child
        margin: 165px 0 0

.equipment-box1
    &::before
        width: 387px
        height: 83px
        background: url('../img/line1.svg') no-repeat center
        background-size: 100%

.equipment-box2
    &::before
        top: 5px
        width: 338px
        height: 108px
        background: url('../img/line1.svg') no-repeat center
        background-size: 100%

.equipment-box3
    &::before
        top: auto
        bottom: 6px
        width: 435px
        height: 111px
        background: url('../img/line3.svg') no-repeat center
        background-size: 100%

.equipment-box-right
    margin-left: auto
    margin-top: 140px
    text-align: right
    &::before
        left: auto
        right: calc(100% + 30px)
    &:first-child
        margin: 50px 0 0 auto
    &:last-child
        margin: 165px 0 0 auto

.equipment-box4
    &::before
        width: 421px
        height: 78px
        background: url('../img/line4.svg') no-repeat center
        background-size: 100%

.equipment-box5
    &::before
        width: 199px
        height: 108px
        background: url('../img/line5.svg') no-repeat center
        background-size: 100%

.equipment-box6
    &::before
        top: -45px
        right: 270px
        width: 346px
        height: 44px
        background: url('../img/line6.svg') no-repeat center
        background-size: 100%

.advantages
    padding: 50px 0 0

.advantages-box
    margin: 0 0 65px
    background: linear-gradient(90.74deg, #172131 25.68%, #1D2631 94.97%)
    backdrop-filter: blur(24px)
    padding: 20px
    border-radius: 20px
    &:first-child
        margin: 0 0 65px
    &:last-child
        margin: 0
    &::before
        display: none

.advantages-box-right
    margin-left: auto
    &:last-child
        margin: 0 0 0 auto

.advantages-box-center
    margin: 52px auto 0
    &:last-child
        margin: 52px auto 0

.interface
    position: relative
    z-index: 1
    padding: 130px 0 168px
    &::before
        content: ''
        position: absolute
        top: 45px
        left: -213px
        width: 725px
        height: 725px
        border-radius: 50%
        background: radial-gradient(50% 50% at 50% 50%, #3BAAFF 0%, rgba(39, 161, 255, 0) 83.65%)
        backdrop-filter: blur(200px)
        z-index: -2
        opacity: 0.4
    h2
        margin: 0 0 45px
    .box-text
        max-width: 690px
        margin: 45px 0 76px

.interface-image
    margin: 0 0 0 auto
    padding: 0 20px 0 0
    display: flex
    align-items: center
    justify-content: flex-end

.you-need-wrapper
    margin: 0 auto
    max-width: 1611px
    width: 100%
    padding: 30px
    display: flex
    align-items: stretch
    background: linear-gradient(90.74deg, #172131 25.68%, #1D2631 94.97%)
    backdrop-filter: blur(24px)
    border-radius: 30px
    &__title
        padding: 0 30px 0 0
        border-right: 1px solid #fff
        max-width: 650px
    &__content
        width: calc( 100% - 650px )
        padding: 0 0 0 30px
    h2
        margin: 0 0 17px
    .h4
        margin: 0

.models
    margin: 190px 0 0
    .h1
        font-size: 280px
        margin: 0 0 30px
    h2
        margin: 0

.models-content
    padding: 0 60px 0 0
    border-right: 1px solid #fff
    .h3
        margin: 38px 0 0
        padding: 33px 0 0
        border-top: 1px solid $accent
        width: fit-content

.models-list
    height: 547px
    position: relative
    z-index: 1
    &::before
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 204px
        background: linear-gradient(0deg, #11161D 10.1%, rgba(17, 22, 29, 0) 100%)
        z-index: 1
    .horizontal-scroll
        padding: 0 54px 0 0
        width: 100%
        height: 507px

.models-box
    width: 100%
    margin: 0 0 26px
    border-radius: 20px
    background: linear-gradient(90.74deg, #172131 25.68%, #1D2631 94.97%)
    backdrop-filter: blur(24px)
    padding: 20px
    .h3
        margin: 0 0 20px

.functions
    padding: 148px 0 190px
    position: relative
    z-index: 1
    &::before
        content: ''
        position: absolute
        width: 993px
        height: 993px
        border-radius: 50%
        top: -224px
        left: 50%
        transform: translate(-50%,0)
        background: radial-gradient(50% 50% at 50% 50%, #3BAAFF 0%, rgba(39, 161, 255, 0) 83.65%)
        backdrop-filter: blur(200px)
        z-index: -1
        opacity: 0.1

.accordion-item
    width: 100%
    margin: 0 0 24px
    background: linear-gradient(90.74deg, #172131 25.68%, #1D2631 94.97%)
    border: none
    border-radius: 30px
    &:last-child
        margin: 0

.accordion-item:first-of-type, .accordion-item:last-of-type, .accordion-item:last-of-type .accordion-button.collapsed
    border-radius: 30px

.accordion-item:first-of-type .accordion-button
    border-radius: 0
    background: transparent
    box-shadow: none
    padding: 20px
    color: #fff

.accordion-button:not(.collapsed)
    background: transparent
    box-shadow: none
    color: #fff
    &::after
        background: url('../img/arrow-bottom.svg') no-repeat center
        background-size: 100%
        transform: rotate(180deg)

.accordion-button
    color: #fff
    font-size: 32px
    line-height: 110%
    font-family: $default-font
    background: transparent
    box-shadow: none
    &:after
        width: 62px
        height: 47px
        margin: 0 0 0 auto
        background: url('../img/arrow-bottom.svg') no-repeat center
        background-size: 100%
    &:focus
        box-shadow: none
        border: none

.accordion-body
    padding: 0 20px 20px

.unique-features
    h2
        margin: 0 0 80px

// prices
.prices
    padding: 140px 0 170px
    position: relative
    z-index: 1
    &::before
        content: ''
        position: absolute
        z-index: -1
        border-radius: 50%
        top: 0
        left: -720px
        opacity: 0.1
        width: 1373px
        height: 1373px
        background: radial-gradient(50% 50% at 50% 50%, #3BAAFF 0%, rgba(39, 161, 255, 0) 83.65%)
        backdrop-filter: blur(200px)

.prices-card
    width: 100%
    height: 100%
    border-radius: 30px
    padding: 30px
    background: linear-gradient(90.74deg, #172131 25.68%, #1D2631 94.97%)
    color: #fff
    backdrop-filter: blur(24px)
    &__text
        margin: 70px 0 0
    h3
        margin: 0 0 10px

.price-image
    width: 100%
    height: 390px
    border-radius: 30px
    @include d-flex
    img
        border-radius: 30px
        width: 100%
        height: 100%
        object-fit: cover

.price-box
    width: 100%
    max-width: 742px
    height: 100%
    padding: 20px 40px
    border-radius: 30px
    border: 1px solid transparent
    backdrop-filter: blur(24px)

    background: linear-gradient(90.74deg, #172131 25.68%, #0F2845 94.97%) padding-box, linear-gradient(106.05deg, #172131 10.27%, #3BAAFF 96.35%) border-box

    h3
        margin: 0 0 20px

.price-wrapper
    padding: 20px
    border-radius: 30px
    border: 1px solid #007FBF
    font-size: 24px
    margin: 0 0 20px
    width: fit-content
    .h5
        color: $accent

.price
    margin: 10px 0 0

.learn
    position: relative
    z-index: 1
    overflow: hidden
    margin: 0 0 62px
    h2
        margin: 0 0 30px

.learn-slider__arrow
    justify-content: flex-end

.learn-slider
    width: calc( 100% + 533px )
    .slick-slide
        padding: 0 20px
    .slick-list
        margin: 0 -20px
    

.learn-box
    width: 593px
    background: linear-gradient(90.74deg, #172131 25.68%, #1D2631 94.97%)
    backdrop-filter: blur(24px)
    border-radius: 30px
    padding: 30px
    &__img
        width: 100%
        height: 251px
        @include d-flex
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 20px
    &__body
        padding: 45px 0 0


// callback
.callback-wrapper
    width: 100%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    &__content
        max-width: 610px
        width: 100%
    .h3
        margin: 0 0 14px

.form-callback
    width: calc( 100% - 625px )
    margin: 0 0 0 auto
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    label
        max-width: 247px
        width: 100%
        margin-right: auto

.consent
    width: 100%
    font-size: 12px
    color: #9AABC6        
