@import 'fonts'
@import 'vars'

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  background: #11161D
  color: #fff

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  width: fit-content

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 15px
  box-sizing: border-box
  font-family: $default-font
  border: 1px solid #007FBF
  border-radius: 20px
  width: 100%
  height: 60px
  background: transparent
  color: #fff
  font-size: 16px
  cursor: pointer
  &::placeholder
    color: $accent

  &:hover, &:focus
    outline: none
    box-shadow: none

input[type="radio"], input[type="checkbox"]
  width: auto
  height: auto
  appearance: auto
  margin: 0 5px 0 0
  display: inline

label
  display: block
  width: 100%
  margin: 0 0 27px

  &:last-child
    margin: 0

textarea
  resize: none
  padding: 12px 17px
  height: 103px

button, .btn
  outline: none
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  font-family: $default-font
  padding: 0
  margin: 0
  border: none
  border-radius: 0

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 20px 20px
  font-size: 16px
  font-weight: 500
  height: 60px
  border-radius: 20px
  transition: .3s ease
  overflow: hidden
  position: relative
  z-index: 1

.btn-accent
  background: linear-gradient(138.79deg, #007FBF -1.61%, #006496 48.95%, #0076B1 100.49%)
  box-shadow: inset 0 0 14px 0 #91D0FF, 0 2px 14px 0 #1C5CB580
  color: #fff
  &::before
    content: ''
    position: absolute
    inset: 0
    padding: 1px
    border-radius: 20px
    background: linear-gradient(360deg, #C2E5FF 0%, #FFFFFF 51.25%, #1C5CB5 102.5%)
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
    -webkit-mask-composite: xor
    mask-composite: exclude
    z-index: -1
  &:hover
    transform: translateY(-2px)
    box-shadow: inset 0 0 18px 0 #91D0FF, 0 4px 20px 0 #1C5CB5A0

.svg-icon
  display: inline-block
  width: 100%
  height: 100%

strong, b
  font-weight: bold
  display: inline-block

ul, ol
  padding: 0 0 0 20px

.my-ul
  list-style: none
  padding: 0

.list-dots
  list-style-type: disc

.container
  max-width: 1760px
  padding: 0 40px

.row
  margin: 0 -20px
  >*
    padding: 0 20px

.color-accent
  color: $accent

h1, .h1
  width: 100%
  text-transform: uppercase
  font-size: 128px
  line-height: 100%
  font-weight: bold
  background: linear-gradient(180deg, #70C1FF -40.83%, #FFFFFF 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  color: transparent
  margin: 0 0 68px

h2, .h2
  width: 100%
  font-size: 64px
  font-weight: bold
  line-height: 100%
  text-transform: uppercase
  margin: 0 0 55px

h4, .h4, .h3, h3
  width: 100%
  margin: 0 0 34px
  font-size: 32px
  font-weight: normal
  line-height: 110%

h5, .h5
  width: 100%
  font-size: 24px
  line-height: normal
  font-weight: normal
  margin: 0

.mb-35
  margin-bottom: 35px

.mb-45
  margin-bottom: 45px

.text-big
  font-size: 24px
  line-height: 100%

.vertical-scroll
  overflow-y: auto

  // Firefox
  scrollbar-width: 16px
  scrollbar-color: #182333

  // Chrome / Edge / Safari
  &::-webkit-scrollbar
    width: 16px

  &::-webkit-scrollbar-track
    background: #182333
    border-radius: 30px

  &::-webkit-scrollbar-thumb
    background: #2A3546
    border-radius: 10px
    // border: 4px solid #182333

    &:hover
      background: #34445C

// slider
.slick-slider
  width: 100%

.slick-slide
  outline: none

.slider-nav
  display: flex
  align-items: center

.slick-arrow
  width: 74px
  height: 74px
  min-width: 74px
  margin: 0 40px 0 0
  position: relative
  z-index: 1
  opacity: 1
  border: 2px solid #007FBF
  border-radius: 50%
  background: transparent
  transition: .3s ease
  @include d-flex
  &:last-child
    margin: 0
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 19px
    height: 34px
    transform: translate(-50%, -50%)
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    transition: .3s ease
  &:hover
    background: linear-gradient(90.74deg, #172131 25.68%, #1D2631 94.97%)
    backdrop-filter: blur(24px)
    border-color: transparent
    &::before
      width: 47px
      height: 62px
      background-image: url("data:image/svg+xml,%3Csvg width='47' height='62' viewBox='0 0 47 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_di_3202_255)'%3E%3Cpath d='M17.4142 45.3594C16.1543 46.6193 14 45.7269 14 43.9451L14 14.004C14 12.2222 16.1543 11.3299 17.4142 12.5898L32.3848 27.5604C33.1658 28.3414 33.1658 29.6077 32.3848 30.3888L17.4142 45.3594Z' fill='url(%23paint0_linear_3202_255)'/%3E%3Cpath d='M14.5 14.0039C14.5001 12.6676 16.1156 11.9985 17.0605 12.9434L32.0312 27.9141C32.6169 28.4998 32.617 29.4494 32.0312 30.0352L17.0605 45.0059C16.1156 45.9506 14.5001 45.2815 14.5 43.9453V14.0039Z' stroke='url(%23paint1_linear_3202_255)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_di_3202_255' x='0' y='0' width='46.9707' height='61.9492' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='7'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.109804 0 0 0 0 0.360784 0 0 0 0 0.709804 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3202_255'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3202_255' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='7'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.567308 0 0 0 0 0.815574 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect2_innerShadow_3202_255'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_3202_255' x1='6.25369' y1='31.2894' x2='35.5636' y2='16.9448' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23007FBF'/%3E%3Cstop offset='0.495192' stop-color='%23006496'/%3E%3Cstop offset='1' stop-color='%230076B1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3202_255' x1='32.9706' y1='31.2894' x2='13.5257' y2='31.2894' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23C2E5FF'/%3E%3Cstop offset='0.5' stop-color='white'/%3E%3Cstop offset='1' stop-color='%231C5CB5'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")

.slick-prev
  &::before
    left: 45%
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='34' viewBox='0 0 19 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.4707 31.9453C18.4706 33.2816 16.8551 33.9507 15.9102 33.0059L0.939455 18.0352C0.353774 17.4494 0.35375 16.4998 0.939455 15.9141L15.9102 0.943359C16.8551 -0.00141744 18.4706 0.667705 18.4707 2.00391L18.4707 31.9453Z' stroke='%23007FBF'/%3E%3C/svg%3E")
  &:hover
    &::before
      transform: translate(-50%, -50%) rotate(180deg)

.slick-next
  &::before
    left: 55%
    transform: translate(-50%, -50%) rotate(180deg)
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='34' viewBox='0 0 19 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.4707 31.9453C18.4706 33.2816 16.8551 33.9507 15.9102 33.0059L0.939455 18.0352C0.353774 17.4494 0.35375 16.4998 0.939455 15.9141L15.9102 0.943359C16.8551 -0.00141744 18.4706 0.667705 18.4707 2.00391L18.4707 31.9453Z' stroke='%23007FBF'/%3E%3C/svg%3E")
  &:hover
    &::before
      transform: translate(-50%, -50%)

//checkbox my
.label-checkbox
  position: relative
  display: flex
  align-items: flex-start
  color: rgba(255, 255, 255, 0.5)
  font-size: 14px
  margin: 15px 0 0
  line-height: 1.14

.inp-check
  display: none

.checkbox-custom
  margin: 0 12px 0 0
  position: relative
  border-radius: 6px
  background-color: #fff
  width: 16px
  height: 16px
  min-width: 16px
  cursor: pointer

.inp-check:checked ~ .checkbox-custom
  background: #fff url("../img/check-black.svg") no-repeat center
  background-size: 8px
//checkbox my end
